@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    background-color: #031825;
    font-family: 'Lato', sans-serif;
    color: antiquewhite;
    /* text-align: center; */
}

h1, h2 {
    /* text-align: center; */
    color: aqua;
}

#Titulo-pagina {
    text-align: center;
}

.minha-foto {
    text-align: center;
}

body > main > h2#sobre-mim {
    text-align: center;
}

.box-description-lucas {
    margin-left: 10rem;
}

#despription-Lucas{
    /* READ ME: ate brinquei com o word wrap mas n vi diferenca nas outras opcoes */
    word-wrap: break-word;
    background-color: darkgray;
    color: black;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    width: 1000px;
    height: 40px;
}


#photo-Lucas {
    width: 500px;
}


ul, ol {
    list-style-type: none;
}

.item-lista {   
    color: yellow;   
}


a {
    color: deepskyblue;
}